* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsla(36, 100%, 84%, 0.7);
}

header {
  background-color: rgba(10, 10, 10, 0.3);
}

main {
  background-color: hsla(36, 100%, 84%, 0.7);
}
/*---------------- NAVIGATION SECTION -----------*/

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
}

.nav-list li:hover {
  text-shadow: 3px 3px 5px black;
  font-size: 19px;
}

.nav-list li:active {
  text-shadow: 5px 5px 5px green;
}

/*---------------- SECTION 1-----------*/

.section-1 {
  background-color: rgba(111, 128, 128, 0.3);
}

p {
  font-family: "Questrial";
  line-height: 30px;
}

.profile-pic {
  width: 190px;
}

.profile-pic-and-text-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading-and-icon h1 {
  font-size: 23px;
  line-height: 20px;
}

.heading-and-icon h2 {
  font-size: 16px;
  padding-top: 9px;
}

/*---------------- TITLE SECTION -----------*/

.title-box {
  display: flex;
  row-gap: 100px;
  align-items: flex-end;
  padding: 10px;
}
/*---------------- CONNECT SECTION -----------*/

.connect-icons {
  padding-top: 40px;
}

.connect-icons a {
  text-decoration: none;
}

.connect-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-decoration: none;
}

/*---------------- SECTION 2 -----------*/

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  background-color: rgba(10, 10, 10, 0.3);
}

.about {
  background-color: rgba(10, 10, 10, 0.3);
  margin-bottom: 40px;
  padding: 15px;
}

.values-tech-skills {
  background-color: rgba(10, 10, 10, 0.3);
  padding: 15px;
}

.section-2 h2,
.section-2 h3,
.section-2 h4 {
  align-self: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*---------------- VALUES-----------*/
.values-list li {
  align-self: center;
  list-style: none;
  line-height: 25px;
}

.values {
  margin-top: 30px;
}

/*---------------- TECH SKILLS-----------*/

.tech-skills {
  font-size: 20px;
  text-align: center;
  color: rgb(14, 13, 13);
  margin-top: 50px;
}

.pie-chart {
  display: flex;
  padding-bottom: 50px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

.pie-chart h4 {
  font-size: 17px;
  display: inline;
  color: black;
  position: relative;
  bottom: 30px;
}

.html div,
.css div,
.javascript div {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid black;
  margin-left: 30px;
}

.html div {
  margin-left: 0px;
}

.html div {
  background: conic-gradient(
    rgb(153, 75, 24) 0% 95%,
    rgb(255, 255, 255) 95% 100%
  );
}

.css div {
  background: conic-gradient(
    rgb(153, 119, 24) 0% 85%,
    rgb(255, 255, 255) 85% 100%
  );
}

.javascript div {
  background: conic-gradient(
    rgb(55, 21, 117) 0% 5%,
    rgb(255, 255, 255) 5% 100%
  );
}
