* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsla(36, 100%, 84%, 0.7);
}

header {
  background-color: rgba(10, 10, 10, 0.3);
}

main {
  background-color: hsla(36, 100%, 84%, 0.7);
}
/*---------------- NAVIGATION SECTION -----------*/

.nav-list a {
  text-decoration: none;
  color: black;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
}

.nav-list li:hover {
  text-shadow: 3px 3px 5px black;
  font-size: 19px;
}

.nav-list li:active {
  text-shadow: 5px 5px 5px green;
}

/*---------------- SECTION 1-----------*/

.section-1 {
  background-color: rgba(111, 128, 128, 0.3);
}

p {
  font-family: "Questrial";
  line-height: 30px;
}

.profile-pic {
  width: 190px;
}

.profile-pic-and-text-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading-and-icon h1 {
  font-size: 23px;
  line-height: 20px;
}

.heading-and-icon h2 {
  font-size: 16px;
  padding-top: 9px;
}

/*---------------- TITLE SECTION -----------*/

.title-box {
  display: flex;
  row-gap: 100px;
  align-items: flex-end;
  padding: 10px;
}
/*---------------- CONNECT SECTION -----------*/

.connect-icons {
  padding-top: 40px;
}

.connect-icons a {
  text-decoration: none;
}

.connect-icons img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-decoration: none;
}
